<!DOCTYPE html>
<html>
  <h1>View your results below:</h1>

  <table>
    <tr>
      <th>Values</th>
      <th>Old Value</th>
      <th>New Value</th>
    </tr>
    <tr>
      <td>videoId</td>
      <td><%= videoId %></td>
      <td><%= videoId %></td>
    </tr>
    <tr>
      <td>Title</td>
      <td><%= oldTitle %></td>
      <td><%= videoData.title %></td>
    </tr>
    <tr>
      <td>Channel Title</td>
      <td><%= oldChannelTitle %></td>
      <td><%= videoData.channelTitle %></td>
    </tr>
  </table>
</html>